body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 40px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

/*
 * Header area
 */

header {
  text-align: center;
}

h1 {

}

/*
 * Game info area
 */

.game-info {
  display: flex;
  justify-content: center;
}

/*
 * Main playing area
 */

.playing-area {

}

.deck {
  background-image: linear-gradient(135deg, #00CCBA 0%, #A97DCF 100%);
  list-style: none;
  padding: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 14px 0px rgba(148,146,148,1);
  -moz-box-shadow: 10px 10px 14px 0px rgba(148,146,148,1);
  box-shadow: 10px 10px 14px 0px rgba(148,146,148,1);
}

.deck .card {
  width: calc((100% - 135px) / 4);
  height: 1em;
  padding: 50px 0;
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: #2E3D4A;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.deck .card > svg {
  display: none;
}

.deck .card.open > svg {
  display: inline;
}

.deck .card.open {
  background-color: #12C1E0;
}

.deck .card.match {
  background-color: #10E3B9;
}

.deck .card.nomatch {
  background-color: #E94D3E;
}

.deck .card:hover {
  cursor: pointer;
  transform: scale(1.02);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
}
