* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*
 * Header area
 */

header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: 200;
}

/*
 * Game info area
 */

.game-info {
  display: flex;
  justify-content: center;
}

.game-info p {
  margin: 5px 0;
  font-size: 1em;
}

.game-info .timer {
  min-width: 70px;
  margin: 0 50px;
  padding-top: 10px;
}

.game-info .timer,
.game-info .moves {
  text-align: center;
}

.game-info .fa-star {
  height: 12px;
  width: 10px;
}

.fa-star {
  color: #E0B712;
}

#move-count {
  font-weight: 600;
}

#btn-reset {
  font-size: 0.9em;
  font-weight: 400;
}

button {
  padding: 10px 20px;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #e9e9e9;
}

button:active {
  background-color: #d9d9d9;
}

/*
 * Main playing area
 */

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin-bottom: 0;
  padding: 30px 10px 15px;
  background-image: linear-gradient(135deg, #00CCBA 0%, #A97DCF 100%);
  list-style: none;
}

.deck .card {
  width: calc(90% / 4);
  height: 1em;
  margin-bottom: 15px;
  padding: 40px 0;
  color: white;
  background-color: #2E3D4A;
  border-radius: 8px;
  font-size: 2em;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.deck .card > svg {
  visibility: hidden;
}

.deck .card.open > svg,
.deck .card.match > svg,
.deck .card.nomatch > svg {
  visibility: visible;
}

.deck .card.open {
  background-color: #12C1E0;
}

.deck .card.match {
  background-color: #10E3B9;
}

.deck .card.nomatch {
  background-color: #E94D3E;
}

.deck .card:hover {
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
  transform: scale(1.02);
  cursor: pointer;
}


/*
 * Success modal
 */

.modal-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: auto;
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.success-score {
  text-align: center;
  line-height: 1.3em;
}

.hero-emoji {
  margin: 0;
  font-size: 4em;
}

.moves-final,
.time-final {
  font-weight: 600;
}

button#replay {
  margin-top: 20px;
  background-color: #10E3B9;
  font-size: 1.2em;
}

button#replay:hover {
  background-color: #40f2ce;
}

button#replay:active {
  background-color: #0fd2ab;
}

/*
 * Media queries
 */

@media screen and (min-width: 650px) {
  body {
    padding-bottom: 40px;
  }
  .container {
    max-width: 700px;
  }
  .deck {
    padding: 30px 30px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.3);
  }
  .deck .card {
    padding: 55px 0;
  }
};
